.title-style {
    color: #ffff;
    text-align: center;
}

.img-style {
    height: 150px;
    width: 300px;
}

.card-style {
    background-color: #46469B;
}

.list-style {
    background-color: #191A19;
}

.card-text-style{
    color: #ffff;
}

.button-style {
    color: #ffff;
}