.custom-btn {
    background: #330D71 !important;
    color: #fff;
    border: 2px solid #330D71 !important;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }