.delete-profile-btn{
    background: #330D71;
    color: #fff;
    border: 2px solid #330D71;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-top: 1rem;
    text-decoration: none;  
    margin-right: 5rem;
}

.delete-profile-btn:hover {
    color: #fff;
    background-color: #240a4e;  
}

.title-style{
    color: #fff;
    margin-top: 1rem;
    margin-left: 5rem;
}

.flex-style {
    display: flex;
    justify-content: space-between;
}
