.delete-profile-btn{
    background: #330D71 !important;
    color: #fff;
    border: 2px solid #330D71 !important;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-top: 1rem;
    align-items: flex-end;
}

.title-style{
    color: #fff;
    margin-top: 1rem;
    text-align: center;
}

.text-style{
    color: #46469B;
    margin-top: 5rem;
}

.row-style{
    margin-top: 2rem;
    margin-bottom: 2rem;
}