.bg-color{
    background-color: #330D71;    
}

.fontSize{
    font-size:1.08em;
}
/* 
.btn-primary {
    background-color: #330D71;
    border-color: #212529;
} */

.profile-button {        
    height: 25px;
}

.link-style {
    text-decoration: none;
    color: #212529 !important;
}

.profile-style {
    text-decoration: none;
}

.logo-style {
    text-decoration: none;
    color: #ffff;
}

.upcoming-btn {
    background: #330D71 !important;
    border: 2px solid #330D71 !important;
    text-transform: uppercase;
}

.upcoming-btn-style {
    text-decoration: none;
    color: rgba(255,255,255,.55); 
}