.bg-color{
    background-color: #330D71;    
}

.fontSize{
    font-size:1.08em;
}
/* 
.btn-primary {
    background-color: #330D71;
    border-color: #212529;
} */

.profile-button {        
    height: 20px;
    content: url("./icon-account.png")!important;
}