.carousel img{
    height: 25vw;
    margin: auto;
}

.carousel{
    background-color: #303030;    
    padding: 1em;
    margin: 1em;
}

.video-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-carousel{
    background-color: transparent !important;
    border: none !important;
    align-self: center;
    color: white;
    padding: .5em;
}