.footer-container{
    background-color: #330D71;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 2em;
}

.text-color{
    color: #f7f7f7;
}

.redes-sociales img{
    margin:3px
}

.copyright{
    text-decoration: none;
    color: #ffff;
}

@media (max-width: 500px){
    .footer-container{        
        justify-content: center;
    }
}